@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root
{
    --primary-dark:#BE185D;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}
.container-center{
    margin: auto;
    display: block;
    max-width: 80%;
}
h1{
    margin: 2rem;
    color: var(--primary-dark);
    font-size: 2rem;
    font-weight: bold;
}
label{
    display: block;
    margin: 2rem 0rem;
    /* padding: 1rem; */
    font-size: large;
    font-weight: bolder;  
    color: var(--primary-dark);
}
input{
    display: block;
    margin: 1rem auto;
    font-size: medium;
    padding: 0.6rem 1rem;
    outline: white;
    border-radius: 0.2rem;
    max-width:350px;
    border: 2px solid var(--primary-dark);
}
button{
    display: block;
    font-size: large;
    color: white;
    background-color: var(--primary-dark);
    padding: 0.5rem;
    text-align: center;
    margin:1rem auto;
    border:1px solid #831843;
    cursor: pointer;
    border-radius: 0.4rem;
    box-shadow: 2px 2px 4px gray;
}

#output{
    display: block;
    text-align: center;
    padding: 0.6rem;
    margin: 1rem auto;
    font-size: 1.3rem;
    font-weight: bolder;
}